{% extends "base.twig" %}
{% block content %}
	<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
		<section class="header--bg block--angle angle--right after">
			<img src="{{home.header.featured_project.postinfo.grid_image|resize(1920)}}" width="100%" alt="" class="">
			<div class="block--content margin--gutter vertical--center">
				<h1 class="color--white">{{home.header.header_title}}</h1><br><br>
				{% if home.header.featured_project != null %}
					<div class="grid--fifth">
						<h6 class="color--pink font--display">Project:</h6>
						<hr class="color--pink">
						<h2 class="color--white">{{home.header.featured_project.title}}<br><span class="font--thin">{{home.header.featured_project.postinfo.date|date('Y')}}</span></h2>
						<a href="{{home.header.button_url.0.guid}}" class="color--gray-links text--uppercase font--even-smaller font--semi-bold">{{home.header.button_title}}</a>
					</div>
				{% endif %}
			</div>
		</section>
		<section class="spacing--gutter spacing--vert-5 block--angle angle--left after bg--white">
			<div class="flex flex--wrap justify--between max-wrap margin-center">
				<h2 class="grid--one text--center">{{home.services.title}}</h2>
				{% for service in home.services.services %}
					<div class="grid--half grid--sm-fourth">
						<h3 class="title--stack color--pink">{{service.title}}</h3>
						<div class="spacing--dsk-horiz-2">{{service.description}}</div>
					</div>
				{% endfor %}
				<div class="grid--one text--center ">
					<a class="button color--gray text--uppercase" href="{{home.services.button_url.0.guid}}">{{home.services.button_title}}</a>
				</div>
			</div>
		</section>
		<section class="section--home-who spacing--gutter spacing--vert-3 bg-image block--angle angle--right" {% if home.who.image != null %}style="background-image:url('{{home.who.image|resize(1200)}}')"{% endif %}>
		<h3>{{home.who.title}}</h3>
		<div>{{home.who.description}}</div>
		<a class="button text--uppercase" href="{{home.who.button_url.0.guid}}">{{home.who.button_title}}</a>
	</section>
	{% if home.contact.shortcode != null %}
		<section class="section--home-contact spacing--gutter spacing--vert-2 bg--pink color--black block--angle angle--right before">
			<h2>{{home.contact.title}}</h2>
			{{ function('do_shortcode', home.contact.shortcode) }}
		</section>
	{% endif %}
</article>
{% endblock %}