{% extends "base.twig" %}
{% block content %}
	<article class="post-type-{{post.post_type}} max-wrap margin-center spacing--gutter spacing--vert-2 flex flex-wrap justify--center" id="post-{{post.ID}}">
		<section class="article-content grid--one grid--sm-one grid--md-two-thirds">
			<h1 class="article-h1">{{post.title}}</h1>
			<p class="blog-author">
				<span>By</span><a href="{{post.author.path}}"> {{ post.author.first_name }} {{post.author.last_name}} </a><span>&bull;</span> <time class="text--uppercase font--display">{{ post.post_date|date}}</time>
			</p>
			{{post.content}}
		</section>
		{# If you want comments #}
		{# {% include 'components/comments.twig' %} #} 
	</article>
{% endblock %}