<section class="section--share border--top color--gray-button spacing--vert-1">
	<a class="bg--gray-button" href="https://www.facebook.com/sharer.php?u={{post.link}}" target="_blank"><i class="icon-social--fb" data-grunticon-embed></i></a>
	<a class="bg--gray-button" href="https://twitter.com/intent/tweet?url={{post.link}}&text={{post.title}}&via=@{{options.social.twitter}}" target="_blank"><i class="icon-social--tw" data-grunticon-embed></i></a>
	<a class="bg--gray-button" href="https://www.linkedin.com/shareArticle?url={{post.link}}&title={{post.title}}" target="_blank"><i class="icon-social--in" data-grunticon-embed></i></a>
	<a class="bg--gray-button" href="mailto:?&subject={{post.title}}&body={{post.exceprt}}%0A{{post.url}}" target="_blank"><i class="icon-envelope-small" data-grunticon-embed></i></a>
</section>



