<div class="blog-author grid--sm-fourth">
	<strong>{{ post.author.first_name }} {{post.author.last_name}} </strong><br>
	<time class="text--uppercase font--display">{{ post.post_date|date}}</time>
	{% include 'components/sections/section--share.twig' %}
	{# <img src="{{post.author.avatar|resize(300)}}" width="100" align="center">
	<span>By</span><a class="color--" href="{{post.author.path}}"> {{ post.author.first_name }} {{post.author.last_name}} </a><span></span>
	<p class="font--smaller">{{post.author.short_biography}}</p> #}
</div>